html, body{
    width: 100%;
    border: none;
    margin: 0px;
    min-width: 400px;
    /*background-color: #2b2e33;*/
    /*background: #2c3033;*/
    background: white;
    color: #444;
}

body{
    overflow-y: scroll;
}

a.no-link {
    color: #222;
    text-decoration: none;
}

#content{
    width: 100%;
    height: 100%;
    position: relative;
}

.center-floater{
    width: 100%;
    position: relative;
    display: table;
}

.full-height{
    height: 100%;
}

.center-wrapper{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#header{
    width: 100%;
    background: white;
    z-index: 10;
}

#button-wrapper{
    height: 75px;
    margin:auto;
    border-bottom: 1px solid #DDD;
    width: calc(100% - 100px);
}

.header-stack{
    position: absolute;
    cursor: pointer;
    top: 12px;
}

#logo{
    left: calc(50% - 18px);
}

#logo img{
    height: 50px;
}

#blog-button{
    left: calc(50% + 28px);
    padding: 6px 15px 6px 15px;
    margin: 3px 15px 3px 15px;
}

#projects-button{
    right: calc(50% + 28px);
    padding: 6px 15px 6px 15px;
    margin: 3px 15px 3px 15px;
}

.button{
    padding: 9px 30px 9px 30px;
    font-size: 25px;
    font-family: "source-sans-pro", sans-serif;
    text-align: center;
    font-weight: 300;
    transition: background-color 0.5s;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(0, 161, 188, 0.8);
}

.outline{
    border: 1px solid #DDD;
}

.filled{
    background-color: #00a1bc;
}

.animated{
    position:relative;
    top: -10px;
    opacity: 0;
    transition: opacity 0.5s, top 0.5s;
}

hr{
    border-top: 1px solid #DDD;
    color: transparent;
    width: calc(100% - 100px);
}

.highlight {
    text-align: left;
}
.highlight>pre{
    padding: 5px;
    overflow-y: scroll;
}
