<div id="header">
    <div id="button-wrapper">
        <a href="/projects" class="no-link">
            <div id="projects-button" class="header-stack button">Projects</div>
        </a>
        <a href="/" class="no-link">
            <div id="logo" class="header-stack"><img src="/img/logo-color.png" /></div>
        </a>
        <a href="/posts" class="no-link">
            <div id="blog-button" class="header-stack button">Blog</div>
        </a>
    </div>
</div>
{{ template "_internal/google_analytics_async.html" . }}
