<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<link type="text/css" rel="stylesheet" href="/css/main-page.css" />
<link type="text/css" rel="stylesheet" href="/css/projects.css" />
<link type="text/css" rel="stylesheet" href="/css/project-page.css" />
<link type="text/css" rel="stylesheet" href="/css/social-media.css" />
